
<div class="col-md-9">
	<div class="submit">

		<h2>TAGS</h2>

		<div class="bot-links">
        	<a href="#">Lunch</a>
        	<a href="#">Product Idea</a>
        	<a href="#">Hack Day</a>
        	<a href="#">Pivot</a>
        	<a href="#">Fern-ism</a>
        	<a href="#">Agile</a>
        	<a href="#">Design</a>
        	<a href="#">Feature</a>
        	<a href="#">Bug</a>
        	<a href="#">Test</a>
        </div>

	</div>
</div>

<div class="col-md-3">

	<div class="sidebar">

		<div class="section blue">

			<div class="input-group custom-search-form">
              <input type="text" class="form-control" placeholder="search">
              <span class="input-group-btn">
              <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
             </button>
             </span>
            </div><!-- /input-group -->

			<a class="btn btn-default" ui-sref='submit'>Submit New Idea</a>

		</div>

	</div>
	
</div>