<div class="ideas">
	<div class="col-md-9">

		<table class="ideas table table-hover">
			<thead>
			  <tr>
			  	<th></th>
			  	<th></th>
			    <th>Title</th>
			    <th>Submitted By</th>
			    <th>Comments</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="idea in allIdeas | orderBy:'rank'">
			  	<td class="key"> {{ idea.id }} </td>
			  	<td class="votes"> 
			  		<i class="fa fa-arrow-up"></i>
			  		<span>{{ idea.rank }}</span> 
			  	</td>
			    <td class="title"> <a ui-sref='ideas.single({ id: idea.id })'> {{ idea.title }} </a></td>
			    <td class="submitted"> 2 hrs ago by {{ idea.user.name }}</td>
			    <td class="comments">35 comments</td>
			  </tr>
			  
			</tbody>
		</table>

	</div>

	<div class="col-md-3">

		<div class="sidebar">

			<div class="section blue">

				<div class="input-group custom-search-form">
	              <input type="text" class="form-control" placeholder="search">
	              <span class="input-group-btn">
	              <button class="btn btn-default" type="button">
	              <span class="glyphicon glyphicon-search"></span>
	             </button>
	             </span>
	            </div><!-- /input-group -->

				<a class="btn btn-default" ui-sref='submit'>Submit New Idea</a>

			</div>


		</div>
		
	</div>
</div>