<table class="ideas table table-hover">
	<thead>
	  <tr>
	  	<th></th>
	  	<th></th>
	    <th>Title</th>
	    <th>Submitted</th>
	    <th>Comments</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="idea in allIdeas | orderBy:'user_id' ">
	  	<td class="key"> {{ idea.id }} </td>
	  	<td class="votes"> {{ idea.rank }} </td>
	    <td class="title"> <a ui-sref='ideas.single({ id: idea.id })'> {{ idea.title }} </a></td>
	    <td class="submitted"> {{ idea.created_at }} by user: {{ idea.user_id }} </td>
	    <td class="comments"></td>
	  </tr>
	  
	</tbody>
</table>