
<div class="col-md-9">
	<div class="submit">

		<h2>NEW IDEA</h2>
		<form ng-submit="submitIdea()">

		  <div class="form-group">
		    <label for="title">Title</label>
		    <input type="text" class="form-control" id="title" ng-model="title">
		  </div>

		  <div class="form-group">
		    <label for="link">Link</label>
		    <input type="text" class="form-control" id="link" ng-model="link">
		  </div>

		  <div class="form-group">
		    <label for="description">Description</label>
		    <textarea class="form-control" rows="3" id="description" ng-model="description"></textarea>
		  </div>

		  <div class="form-group">
		    <label for="tags">Tags</label>
		    <input type="text" class="form-control" id="tags" ng-model="tags">
		  </div>

		  <button type="submit" class="btn btn-default">Submit</button>

		</form>
	</div>
</div>

<div class="col-md-3">

	<div class="sidebar">

		<div class="section blue">

			<div class="input-group custom-search-form">
              <input type="text" class="form-control" placeholder="search">
              <span class="input-group-btn">
              <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
             </button>
             </span>
            </div><!-- /input-group -->

			<a class="btn btn-default" ui-sref='submit'>Submit New Idea</a>

		</div>

	</div>
	
</div>